#footer
  .container
    - data.business.information.each do |info|
      .float-left{style: 'margin-right: 160px;'}
        %h4 Business Information
        %p= info.hours
        %br
        %p= info.address 
        %p= info.city_state_zip
      .float-left
        %h4 Contact Us
        %p= info.phone
        %br
        %p= info.phone2
        %br
        %p= info.email
      .float-right
        %h4 Our Location
        %iframe{frameborder: "0", height: "200", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.044971912416!2d-117.9972571!3d33.707785200000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd268d62bb116f%3A0xd6c9941e563ca5b3!2s7522+Slater+Ave+%23115!5e0!3m2!1sen!2sus!4v1399055584744", style: "border:0", width: "300"}