#top-info-header
  .container
    - data.business.information.each do |info|
      .phone-number.float-left
        %i.fa.fa-phone.float-left
        %span.float-left= info.phone
      .email.float-left
        %i.fa.fa-envelope-o.float-left
        %span.float-left= info.email
      .social-icons.float-right
        = info.hours
      .clear

#main-nav
  .container 
    #main-logo-container.float-left
      = link_to((image_tag 'logo.png'), 'index.html')
    #nav-items.float-right
      %ul
        %li= link_to 'Home', 'index.html'
        %li= link_to 'About Us', 'about.html'
        %li Services
        %li Photo Gallery 
        %li Reviews!
        %li= link_to 'Contact Us', 'contact.html'
    .clear