#sub-page-header
  .container
    %h1 About Us
    %p Home/About Us

#about-top-section
  .container
    .float-left{style: 'width: 250px; margin-right: 50px; background: #ECEEF0; padding: 5px 10px 5px 10px;'}
      %strong To all our customers:
      %br
      %br
      %p We will remove any window tint that has been previously serviced by us at no extra charge to the you.
    .float-left{style: 'width: 350px; margin-right: 0px;'}
      %h3 Auto Tint Specialist
      %br
      %p At Auto Tint Specialists we specialize in automotive window tinting for all make and models of cars. We also specialize in commercial and residential window tinting.
      %br 
      %p We also provide a free drop-off service while the car is being tinted. (ask for details) We only use high quality films on all of our projects and every window film comes with a lifetime warranty which covers:
    .float-right{style: 'width: 220px;'}
      %h3 Business Hours 
      %br
      %i.fa.fa-clock-o.float-left{style: 'margin-right: 4px;'}
      %p Mon - Sat: 9:00am - 6:00pm
      %br
      %h3 Located On
      %br
      %i.fa.fa-home.float-left{style: 'margin-right: 4px;'}
      %p 7522 Slater ave. Suite #115 <br /> Huntington Beach, CA 92647 
      %br
      %h3 Call Us
      %br
      %i.fa.fa-phone.float-left{style: 'margin-right: 4px;'}
      %p (714) 907-6767 / (714) 841-7711
    .clear

#about-bottom-section
  .container
    .about-us-bottom-section.float-left
      %h3 Authorized Dealers Of Johnson Window Film
      %br
      %p Providing much more than just good looks and cool comfort, professional automotive window films from Johnson Window Films will deliver benefits beyond your expectations. From reducing fuel consumption to a safer, anti-glare view, you will enjoy the improved driving experience.
      = image_tag 'johnson-logo.png'
    .float-left{style: 'margin-left: 200px;'}
      %ul
        %li= image_tag 'renegade.png'
        %li= image_tag 'marathon.png'
        %li= image_tag 'rayguard.png', style: 'position: relative; top: 4px;'
        %li= image_tag 'insulatr.png'
        %li= image_tag 'silhouette.png'
        %li= image_tag 'executive.png'
    .clear