#main-banner
  .container
    .float-left.left-banner-content
      = image_tag 'banner-car.jpg'
    .float-right.right-banner-content
      %h1 <strong>Auto Tint</strong> Specalist 
      %p specializing in automotive window tint
      %br
      %p Why Choose Auto Tint Specalist?
      %ul
        %li Fast professional service 
        %li 100% satisfaction guaranteed
        %li Free Tint Removal Coverage

#mid-section
  .container
    .float-left
      %h1 Auto Tint Specialist 
      %p specializing in automotive window tint
    .float-right
      .contact-button
        Request A Quote
    .clear

#product-section 
  .container
    %ul
      %li= image_tag 'renegade.png'
      %li= image_tag 'marathon.png'
      %li= image_tag 'rayguard.png', style: 'position: relative; top: 4px;'
      %li= image_tag 'insulatr.png'
      %li= image_tag 'silhouette.png'
      %li= image_tag 'executive.png'